@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bkg: 255 255 255;
    --color-content: 58 58 58;
    --color-accent: 114 174 200;
    --color-accent2: 237 241 243;
    --color-border: 216 209 202;
    --color-title: 85 88 91;
    --color-navbar: 39 39 39;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
}
