@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bkg: 255 255 255;
    --color-content: 58 58 58;
    --color-accent: 114 174 200;
    --color-accent2: 237 241 243;
    --color-border: 216 209 202;
    --color-titleContent: 85 88 91;
    --color-secondaryGreen: 6 205 62;
    --color-secondaryYellow: 255 189 0;
    --color-secondaryBlue: 9 137 255;
    --color-navbar: 39 39 39;
    --color-title2: 28, 28, 30;
    --color-title3: 28, 28, 30;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
}
.capitalize-words {
    text-transform: capitalize;
}
.icon-link {
    transition: transform 0.3s ease; /* Add a transition for the 'transform' property */
}
.icon-link:hover .icon {
    transform: scale(
        1.2
    ); /* When hovering, scale the icon to 1.2 times its original size */
}

/* price filter style */
/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;

    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    background-color: gray;
    border: none;

    /* box-shadow: 0 0 1px 1px #ced4da; */
    cursor: pointer;
    height: 18px;
    width: 10px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}
